. * {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

.about_us_banner_img{
    background-image: linear-gradient(to bottom, rgba(80, 79, 79, 0.56), rgba(51, 51, 51, 0.7)), url("../img/about_us/main_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    min-height: 750px;
}
.about_us_banner_bg_left{
    position: relative;
    top: 420px;
}
.about_us_banner_bg_right{
    position: relative;
    top: 90px;
    float: right;
}
.about_us_banner_title{
    font-size: 72px;
    font-weight: 700;
}
.about_us_banner_context{
    font-size: 18px;
    font-weight: 400;
}

.about_us_wab_context{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.about_us_wab_title_1{
    font-weight: 600; color: #222222; font-size: 54px;
}
.about_us_wab_title_2{
    color: #EA494E; font-size: 34px; font-weight: 600;
}

.about_us_wab{
    background-image: url("../img/about_us/wab_bg.png");
    background-repeat: no-repeat;
    background-position: right 350px;
}
.about_us_wtb_title{
    font-size: 54px;
    font-weight: 600;
    color: #222222;
}
.about_us_wtb_context{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.about_us_wtb_name{
    font-size: 24px;
    font-weight: 600;
}
.about_us_wtb_name_title{
    font-size: 18px;
    font-weight: 400;
}

.about_us_hob{
    background-image: url("../img/about_us/hob_bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 64px;
}
.about_us_hob_title{
    font-size: 54px;
    font-weight: 600;
    color: #222222;
}
.about_us_hob_content_title{
    font-size: 44px;
    font-weight: 600;
}
.about_us_hob_content_context{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.about_us_off_today{
    background-image: linear-gradient( rgba(26, 26, 26, 0.08), rgba(64, 64, 64, 0.8)), url("../img/about_us/off_today_bg.png");
    background-position: center;
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.about_us_off_today_title{
    font-size: 72px;
    font-weight: 600;
}
.about_us_off_today_context{
    font-size: 24px;
    font-weight: 400;
}