@font-face{
    font-family: Montserrat;
    src: local(Montserrat);
}
@font-face{
    font-family: "Open Sans";
    src: local("Open Sans");
}

*{
    font-family: Montserrat, "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

/*Start header*/
.header_nav_1{
    background-color: #EA494E;
    font-family: "Open Sans";
    padding: 12px 0 13px 0;
    min-height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}
.header_nav_2{
    min-height: 120px;
    color: #222222;
}
.header_nav_2 a{
    text-decoration: none;
    color: #222222;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
}
.header_nav_2 a:hover{
    color: blue;
}
.header_menu_selector{
    color: #222222;
    padding-right: 40px;
    text-decoration: none;
}
/*End header*/

/*Start home1*/
.main_content {
    background-color: #F9F9F9;
}
.main_content_1_title{
    font-size: 72px;
    font-weight: 600;
    color: #222222;
}
.main_content_1_context{
    font-size: 18px;
    font-weight: 400;
}
.btn_explore{
    background-color: #EA494E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.demo_travel{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
.main_content_1_bg{
    background-image: url("../img/Home1/main_content_bg.png");
    background-repeat: no-repeat;
    background-position: 590px 30px;
}
.main_content_1_img{
    background-image: url("../img/Home1/main_content_img.png");
    background-repeat: no-repeat;
    height: 536px;
    width: 429px;
    margin: 7% 19%;
}
.main_content_1_search{
    background-color: #EBEBEB;
}
.main_content_1_search .btn {
    background: #EA494E;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 27px;
    border-radius: unset;
}
.main_content_1_search .row-cols-5 .d-flex .py-2::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #777777;
}
.main_content_1_search .row-cols-5 .d-flex p{
    font-size: 18px;
    font-weight: 600;
    color: #EA494E;
}
.main_content_1_search .row-cols-5 .d-flex .py-2 {
    background: #E0E0E0;
    border: none;
}
.tpd_bg {
    background-image: url("../img/Home1/tpd_bg.png");
    background-repeat: no-repeat;
    background-position: right 200px;
}
.tpd_gallery_special{
    background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.1), rgba(64, 64, 64, 0.8)), url("../img/Home1/tpd_img_1.png");
    background-repeat: no-repeat;
}
.tpd_gallery_special_title{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.tpd_gallery_special_context{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.tpd_title{
    font-size: 54px;
    font-weight: 600;

}
.tpd_explore{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #777777;
    border: none;
    background-color: #F9F9F9;
}
.tpd_rate{
    font-size: 18px;
    color: #FFFFFF;
}
.about_us_title{
    font-size: 54px;
    font-weight: 600;
}
.ptp_bg{
    background-image: url("../img/Home1/ptp_bg.png");
    background-repeat: no-repeat;
    background-position: 12% 67%;
    padding-bottom: 150px;
}
.ptp_title{
    font-size: 54px;
    font-weight: 600;
}
.ptp_cols .col-4{
    padding: 0 20px;
}
.ptp_title_1{
    font-size: 34px;
    font-weight: 600;
    color: #222222;
}
.ptp_address{
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}
.ptp_address_1{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.ptp_price{
    font-size: 44px;
    font-weight: 600;
    color: #EA494E;
}
.ptp_person{
    color: #777777;
    font-size: 18px;
    font-weight: 400;
}
.ptp_book_now{
    border: none;
    background: none;
}
.bf{
    background-color: #E5E5E5;
    background-image: url("../img/Home1/desert.png");
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    height: 694px;
}
.bf_list{
    font-size: 28px;
    font-weight: 500;
    color:#777777;
    list-style: inside;
}
.bf_title{
    font-size: 54px;
    font-weight: 600;
}
.services {
    background-image: url("../img/Home1/services_bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.services_title{
    font-size: 54px;
    font-weight: 600;
}
.services_select_title {
    font-size: 24px;
    font-weight: 600;

}
.services_select_context{
    font-size: 18px;
    font-weight: 400;
}
.btn_services_1 {
    background: #EA494E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.stp_title {
    font-size: 54px;
    font-weight: 600;
}
.stp_img_1{
    background-image: url("../img/Home1/promo_img_1.png");
    height: 45vh;
}
.stp_img_2{
    background-image: url("../img/Home1/promo_img_2.png");
    height: 45vh;
}
.stp_img_3{
    background-image: url("../img/Home1/promo_img_3.png");
    height: 45vh;
}
.stp_sale_percent{
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
}
.stp_sale_status{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.stp_price{
    color: #EA494E;
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
}
.ptp_price_sale{
    color: #EA494E;
    font-size: 44px;
    font-weight: 700;
}
.gallery_img_special{
    background-image: url("../img/Home1/gallery_img_1.png");
    height: 80vh;
    background-repeat: no-repeat;
}
.gallery {
    background-image: url("../img/Home1/gallery_bg.png");
    background-repeat: no-repeat;
}
.gallery_title{
    font-size: 54px;
    font-weight: 600;
}
.gallery_context{
    font-size: 24px;
    font-weight: 400;
    color: #777777;
}
.gallery_special{
    background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.1), rgba(64, 64, 64, 0.8)), url("../img/Home1/gallery_img_1.png");
    background-repeat: no-repeat;
}
.icon_context{
    font-size: 34px;
    font-weight: 700;
    color: #777777;
}
.off_today{
    background-image: linear-gradient( rgba(26, 26, 26, 0.08), rgba(64, 64, 64, 0.8)), url("../img/Home1/off_today_bg.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
}
.off_today_content{
    padding-top: 152px;
}
.off_today_title_1 {
    font-size: 72px;
    font-weight: 600;
    color: #FF5023;
}
.off_today_title_2{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 600;
}
.off_today_context{
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}
.off_today_media{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.tour_guide{
    background-image: url("../img/Home1/tour_guide_bg.png");
    background-repeat: no-repeat;
    background-position: right -180px;
}
.tour_guide_title{
    font-size: 54px;
    font-weight: 600;
    color: #222222;
}
.tour_guide_name{
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}
.tour_guide_traveller{
    font-size: 18px;
    font-weight: 600;
    color: #EA494E;
}
.blog_bg{
    background-image: url("../img/Home1/blog_bg.png");
    background-repeat: no-repeat;
    background-position: left 780px;
}
.blog_title{
    font-size: 54px;
    font-weight: 600;
    color: #222222;
}
.blog_context{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.blog_name_birth{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.blog_quotes{
    font-size: 28px;
    font-weight: 600;
}
.btn_blog_detail{
    background-color: #EA494E;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.say_about_title{
    font-size: 54px;
    font-weight: 600;
    color: #222222;
}
.say_about_context{
    color: #777777;
    font-size: 24px;
    font-weight: 400;
}
.say_about_name{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.say_about_name_title{
    font-size: 18px;
    font-weight: 400;
}

/*End Home1*/

/*Footer*/
.footer_bg{
    background-color: #222222;
    background-image: url("../img/footer/footer_img.png");
    background-repeat: no-repeat;
}
.footer{
    color: #FFFFFF;
}
.footer_menu_title{
    font-size: 34px;
    font-weight: 600;
}
.footer_menu_context{
    font-size: 18px;
    font-weight: 400;
}
.footer_menu_list{
    text-decoration: none;
    list-style: none;
}
.footer_input_email::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}
.footer_sub_btn{
    background: #EA494E;
    color: #FFFFFF;
    border: none;
}
.footer_border{
    border: 1px solid #FFFFFF;
}
.footer_bottom{
    font-size: 18px;
    font-weight: 400;
}