@font-face{
    font-family: SanFransisco;

}

*{

}

.header_banner-1 {
    background-color: #EA494E;
    font-family: SanFransisco;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;

}