. * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.destination_main_banner_img{
    background-image: linear-gradient(to bottom, rgba(80, 79, 79, 0.56), rgba(51, 51, 51, 0.7)), url("../img/destination/main_banner_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    min-height: 750px;
}

.destination_td_special{
    background-image: linear-gradient(to bottom, rgba(80, 79, 79, 0.56), rgba(51, 51, 51, 0.7)), url("../img/destination/td_img_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    min-height: 750px;
}

.destination_off_today{
    background-image: linear-gradient(to left, rgba(26, 26, 26, 0.08), rgba(64, 64, 64, 0.8)), url("../img/destination/destination_off_today.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    color: #FFFFFF;
}