. * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature_main_banner_img{
    background-image: linear-gradient(to bottom, rgba(80, 79, 79, 0.56), rgba(51, 51, 51, 0.7)), url("../img/feature/main_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    min-height: 750px;
}
.feature_off_today{
    background-image: linear-gradient( rgba(26, 26, 26, 0.08), rgba(64, 64, 64, 0.8)), url("../img/feature/off_today_bg.png");
    background-position: center;
    background-size: cover;
    min-height: 800px;
    background-repeat: no-repeat;
    color: #FFFFFF;
}
.feature_main_content{
    background-image: url("../img/feature/feature_main_content_bg.png"), url("../img/feature/Group 323 4.png");
    background-repeat: no-repeat;
    background-position: right, left bottom;
}
.feature_main_content_title{
    padding-bottom: 60px;
    font-size: 54px;
    font-weight: 600;
}
.feature_main_content_context{
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}